# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
src/www/bundle.js*

# misc
.DS_Store
.env
npm-debug.log

src/www/clublogos
src/www/productpics

status_info
