.App {
  margin: 0;
  padding: 25px 40px;
}

.modal-body label[for='flocking'] {
  font-weight: normal;
}

.club-list-container {
  position: initial;
}

.club-list li a {
  padding: 10px;
  display: flex;
}

.club-list li:first-child {
  margin-top: -15px;
  margin-bottom: 15px;
}

.club-list li a .club-logo,
.club-list li a .glyphicon {
  display: inline-block;
  max-height: 20px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  margin-right: 5px;
}

.club-list li a .glyphicon {
  margin-left: 3px;
  top: 2px;
}

.club-list li a .badge {
  background: #337ab7;
  position: absolute;
  right: 10px;
}

.club-list li a p {
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.club-list li a[role="button highlight"] {
  border: 1px solid #337ab7;
  margin-top: 15px;
}

.club-list li a[role="button show-all"] {
  padding: 5px 0 8px;
  justify-content: center;
  text-align: center;
  color: #337ab7 !important;
  background-color: #fff !important;
}

.club-list li a[role="button show-all"]:hover {
  text-decoration: none;
  background-color: #eee !important;
}

.club-list .admin-nav {
  position: absolute;
  bottom: 25px;
  left: 40px;
  padding-right: 28px;
}

.club-showcase .club-item {
  flex-basis: 25%;
  cursor: pointer;
  margin: 0 12px 25px;
}

.club-showcase .club-item .panel-body {
  padding: 10px 0;
}

.club-showcase .club-item .club-item-image {
  max-height: 20vh;
  display: block;
  margin: 0 auto;
}

.club-showcase .club-item .club-item-name {
  margin: 10px 0 0;
  text-align: center;
  font-size: 20px;
}

.product-list,
.club-showcase {
  position: relative;
  /*width: 75%;*/
  width: 100%;
  float: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product-list .product-item {
  margin: 0 12px 25px;
  flex-basis: calc(100% - 24px);
  display: flex;
}

.product-list .product-item:last-child,
.club-showcase .club-item:last-child {
  /*margin-right: auto;*/
}

.product-list .product-item .panel,
.club-showcase .club-item .panel {
  margin: 0;
  border: 1px solid rgba(51,122,183, .25);
  box-shadow: 0 0 10px rgba(51,122,183, .5);
  transition: all .3s;
}

.product-list .product-item .panel {
  display: flex;
  flex: 1;
}

.product-list .product-item .panel:hover,
.club-showcase .club-item .panel:hover {
  border: 1px solid rgba(51,122,183, 1);
  box-shadow: 0 0 10px rgba(51,122,183, 1);
  color: rgb(51,122,183);
}

.product-list .product-item .panel-body {
  padding: 0;
  position: relative;
  flex: 1;
}

.product-list .product-item .left-column,
.product-list .product-item .right-column {
  height: 100%;
}

.product-list .product-item .left-column {
  padding: 15px 10px 15px 15px;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.product-list .product-item .left-column .img-container {
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list .product-item .left-column .product-item-image {
  display: block;
  margin: 5px auto;
  max-width: 100%;
  max-height: 100%;
  cursor: zoom-in;
}

.product-list .product-item .right-column {
  float: right;
  padding: 0;
  display: flex;
  flex: 1;
  border-left: 1px solid #ddd;
}

.product-list .product-item .right-column .list-group {
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.product-list .product-item .right-column .list-group-item {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1px;
}

.product-list .product-item .right-column .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 0;
}

.product-list .product-item .right-column .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

.product-list .product-item .right-column .list-group-item.product-item-name {
  font-weight: bold;
}

.product-list .product-item .right-column .list-group-item span.internalid {
  font-weight: normal;
  font-size: 11px;
  white-space: pre-line;
  max-width: 100%;
  display: inline-block;
}

.product-list .product-item .right-column .list-group-item p.pricegroup {
  margin: 0;
}

.product-list .product-item .right-column .list-group-item span.sizes {
  font-weight: bold;
  display: block;
}

.product-list .product-item .right-column .list-group-item p.flocking-info {
  font-size: 12px;
}

.product-list .product-item .right-column .list-group-item p.flocking-info:not(:last-child) {
  margin-bottom: 10px;
}

.product-list .product-item .right-column .list-group-item.product-item-action .row {
  margin: 0;
}

.product-list .product-item .right-column .list-group-item.product-item-action > div:not(:first-child) {
  margin: 10px 0 0;
}

.product-list .product-item .right-column .list-group-item.product-item-action .row > div {
  padding: 0 10px 0 0;
}

.product-list .product-item .right-column .list-group-item.product-item-action .row > div.col-xs-12 {
  padding: 0;
}

.product-list .product-item .right-column .list-group-item.product-item-action .product-item-colour {
  margin: 0 0 5px;
}

.product-list .product-item .right-column .list-group-item.product-item-action .product-item-size {
  width: 100%;
}

.product-list .product-item .right-column .list-group-item.product-item-action p {
  margin: 0;
}

/*.product-item .product-item-action {
  display: flex;
  margin: 0 20px 10px;
  flex-flow: row wrap;
  position: relative;
}

.product-item .product-item-action div {
  font-size: .8em;
  font-weight: 600;
  display: inline-block;
}

.product-item .product-item-action label {
  display: block;
  text-align: center;
}

.product-item .product-item-action-flocking {
  flex: 1;
}

.product-item .product-item-action-flocking input {
  display: block;
  width: 90%;
}

.product-item .product-item-action-size select {
  min-width: 48px;
}

.product-item .product-item-action-price {
  position: absolute;
  right: 0;
  padding-top: 18px;
}*/

.product-cart,
.order-process {
  width: 100%;
}

.product-cart .cart-contents,
.order-process form,
.order-summary .row {
  margin: 25px auto;
  width: 95%;
}

.product-cart .cart-contents .product-thumbnail {
  display: inline-block;
  max-height: 48px;
  /*image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;*/
  margin-right: 10px;
  cursor: zoom-in;
}

.product-cart .cart-contents td.flocking {
  /*color: #76bd23;*/
}

.product-cart .cart-contents p {
  margin: 0;
}

.product-cart .cart-contents p.flocking-price {
  /*color: #76bd23;*/
}

.product-cart .cart-contents tfoot {
  font-weight: bold;
}

.product-cart .checkout-button,
.order-process button {
  margin: 0 25px;
}

.order-process form {
  padding: 0 8px;
  margin-bottom: 15px;
}

.order-process form .row div .row div {
  padding: 0 4px;
}

.order-process form .form-group {
  margin-bottom: 10px;
}

.product-cart button span,
.order-process button span {
  font-size: 0.9em;
}

.order-summary .row > div {
  padding: 0;
}

.order-summary h2 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.order-summary .customer-data p {
  margin: 3px 0;
}

.order-summary button {
  margin: 0 25px;
}

.order-summary table {
  margin: 3px 0 5px;
}

.order-summary table tfoot td {
  font-weight: bold;
}

.order-summary .done {
  text-align: center;
  margin-top: 40px;
}

.order-summary .done p {
  font-weight: bold;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 150px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 33px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  padding: 0 !important;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__suggestion p {
  margin: 0;
}

.react-autosuggest__suggestion p .highlight {
  color: #337ab7;
  font-weight: bold;
}

.react-autosuggest__suggestion p.small {
  font-size: 14px;
}

/*@media(min-width: 970px) {
  .product-list .product-item {
    flex-basis: calc(33.33% - 40px);
  }
}*/

@media(min-width: 768px) {
  .product-list .product-item {
    flex-basis: calc(50% - 24px);
  }
}

@media(min-width: 1200px) {
  .product-list .product-item {
    flex-basis: calc(33.33% - 24px);
  }
}

@media(min-width: 1500px) {
  .product-list .product-item {
    flex-basis: calc(25% - 24px);
  }
}
