.App {
  margin: 0;
  padding: 25px 40px;
}

.introduction-text {
  font-size: 1.15em;
  font-weight: bold;
  margin: 0;
}

.product-list {
  position: relative;
  /*width: 75%;*/
  width: 100%;
  float: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product-list .product-item {
  margin: 0 12px 25px;
  flex-basis: calc(100% - 24px);
}

.product-list .product-item:last-child {
  margin-right: auto;
}

.product-list .product-item .panel {
  margin: 0;
}

.product-list .product-item .panel-body {
  padding: 0;
  position: relative;
}

.product-list .product-item .left-column,
.product-list .product-item .right-column {
  height: 100%;
}

.product-list .product-item .left-column {
  padding: 15px 10px 15px 15px;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.product-list .product-item .left-column .img-container {
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list .product-item .left-column .product-item-image {
  display: block;
  margin: 5px auto;
  max-width: 100%;
  max-height: 100%;
}

.product-list .product-item .right-column {
  float: right;
  padding: 0;
}

.product-list .product-item .right-column .list-group {
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

.product-list .product-item .right-column .list-group-item {
  border-right: 0;
}

.product-list .product-item .right-column .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 0;
}

.product-list .product-item .right-column .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

.product-list .product-item .right-column .list-group-item.product-item-name {
  font-weight: bold;
}

.product-list .product-item .right-column .list-group-item span.internalid {
  font-weight: normal;
  font-size: 11px;
  white-space: nowrap;
}

.product-list .product-item .right-column .list-group-item p.pricegroup {
  margin: 0;
}

.product-list .product-item .right-column .list-group-item span.sizes {
  font-weight: bold;
  display: block;
}

.product-list .product-item .right-column .list-group-item.product-item-action .row {
  margin: 0;
}

.product-list .product-item .right-column .list-group-item.product-item-action .row > div {
  padding: 0 10px 0 0;
}

.product-list .product-item .right-column .list-group-item.product-item-action .product-item-size {
  width: 100%;
}

/*.product-item .product-item-action {
  display: flex;
  margin: 0 20px 10px;
  flex-flow: row wrap;
  position: relative;
}

.product-item .product-item-action div {
  font-size: .8em;
  font-weight: 600;
  display: inline-block;
}

.product-item .product-item-action label {
  display: block;
  text-align: center;
}

.product-item .product-item-action-flocking {
  flex: 1;
}

.product-item .product-item-action-flocking input {
  display: block;
  width: 90%;
}

.product-item .product-item-action-size select {
  min-width: 48px;
}

.product-item .product-item-action-price {
  position: absolute;
  right: 0;
  padding-top: 18px;
}*/

.product-cart {
  width: 22%;
  float: right;
  background: #ddd;
  border-top: 2px solid #83a1ec;
  position: fixed;
  top: 95px;
  right: 40px;
  max-height: calc(100vh - 125px);
  transition: all .5s cubic-bezier(0.68, -0.65, 0.265, 1.65);
}

.product-cart.scrolled {
  top: 50px;
  max-height: calc(100vh - 45px);
}

.product-cart.scrolled .cart-contents {
  max-height: calc(100vh - 190px);
}

.product-cart:hover .cart-contents .product-cart-item .product-item-remove {
  opacity: 1;
}

.product-cart-heading {
  margin: 2px 8px;
  font-weight: 600;
  font-size: .93em;
  text-transform: uppercase;
}

.product-cart-total {
  font-size: .88em;
  font-weight: bold;
  margin: 0;
  position: absolute;
  right: 10px;
  bottom: 45px;
}

.product-cart a {
  text-decoration: none;
}

.product-cart .cart-continue-button {
  display: block;
  text-transform: uppercase;
  margin-top: 5px;
  color: #fff;
  background-color: #4F79E3;
  border-color: #4F79E3;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 3px;
  width: calc(100% - 20px);
  margin: 10px;
  text-decoration: none;
}

.product-cart .cart-contents {
  margin: 0 0 25px;
  max-height: calc(100vh - 270px);
  overflow-y: scroll;
  transition: all .5s cubic-bezier(0.68, -0.65, 0.265, 1.65);
}

.cart-contents .product-cart-item {
  margin: 15px;
  font-size: .98em;
  overflow: hidden;
}

.cart-contents .product-cart-item:not(:last-child) {
  margin-bottom: 0;
}

.cart-contents .product-cart-item .product-item-image {
  display: inline-block;
  width: 15%;
}

.cart-contents .product-cart-item .info {
  display: inline-block;
  width: calc(85% - 8px);
  float: right;
  position: relative;
}

.cart-contents .product-cart-item .product-item-name {
  margin: 0;
}

.cart-contents .product-cart-item .product-item-price {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: .88em;
}

.cart-contents .product-cart-item .product-item-size,
.cart-contents .product-cart-item .product-item-flocking {
  margin: 2px 0 0;
  font-size: .86em;
}

.cart-contents .product-cart-item .product-item-remove {
  position: absolute;
  right: 0;
  top: 19px;
  margin: 0;
  font-size: .88em;
  color: #4F79E3;
  text-decoration: none;
  opacity: 0;
  transition: opacity .25s ease-in;
}

.cart-contents .product-cart-item .product-item-remove:hover {
  color: #83a1ec;
}

.cart-contents > p {
  font-size: .88em;
  text-align: center;
  margin: 20px 0 0;
}

/*@media(min-width: 970px) {
  .product-list .product-item {
    flex-basis: calc(33.33% - 40px);
  }
}*/

@media(min-width: 768px) {
  .product-list .product-item {
    flex-basis: calc(50% - 24px);
  }
}

@media(min-width: 1200px) {
  .product-list .product-item {
    flex-basis: calc(33.33% - 24px);
  }
}

@media(min-width: 1500px) {
  .product-list .product-item {
    flex-basis: calc(25% - 24px);
  }
}
