.admin .navbar {
  margin-bottom: 30px;
}

.admin .container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.admin .container .page-header button {
  display: block;
  float: right;
  margin-bottom: -10px;
}

.admin .container .page-header button {
  margin-left: 5px;
}

.admin .container .page-header .unsaved-changes {
  float: right;
  padding-bottom: 10px;
}

.admin .container .page-header .unsaved-changes small {
  font-size: .5em;
  margin-left: 10px;
  margin-right: 5px;
  vertical-align: middle;
}

.admin .container[data-page=OrderView] .form-group:not(:first-of-type) label,
.admin .container[data-page=OrderView] .form-group table {
  margin: 10px 0;
}

.admin .container[data-page=OrderView] label[for=inputCustomerInfo]:last-child {
  margin-bottom: 0;
}

.admin .container[data-page=OrderView] label[for=inputCustomerInfo] p {
  margin: 0 0 5px;
}

.admin .container .form-group label {
  margin-top: 6px;
}

.admin .container .form-group label a:not(:hover) {
  color: inherit;
}

.admin .container .form-group label a:hover {
  text-decoration: none;
}

.admin .container .form-group label[for=inputLogo] {
  margin-top: 16px;
}

.admin .container .form-group div {
  position: relative;
}

.admin .container .form-group input[type=file] {
  margin-top: 10px;
}

.admin .container .form-group img {
  position: absolute;
  top: 10px;
  right: 0;
}

.admin .container .btn-toolbar .btn {
  margin-top: 2px;
  margin-bottom: 2px;
}

.admin td p {
  margin: 0;
}

.admin .container[data-page=ClubEditing] .form-group label[for=inputProducts],
.admin .container[data-page=ClubEditing] .form-group table,
.admin .container[data-page=ClubCreation] .form-group label[for=inputProducts],
.admin .container[data-page=ClubCreation] .form-group table {
  margin: 12px 0 10px;
}

.admin .container[data-page=OrderEditing] .form-group .editing-container {
  max-width: 60%;
}

.admin .container[data-page=OrderEditing] .form-group .row {
  margin-left: -3px;
  margin-right: -3px;
}

.admin .container[data-page=OrderEditing] .form-group .row > div {
  padding-left: 3px;
  padding-right: 3px;
}

.admin .container[data-page=OrderEditing] .form-group .row .form-group {
  margin-bottom: 5px;
}

.admin .container .form-group .col-sm-11 {
  padding: 0 60px;
}

.admin .container .flocking {
  width: 200px;
}

.admin .container .flocking .form-group {
  margin: 0;
}

.admin .container .flocking .disabled {
  color: rgba(0, 0, 0, 0.3);
}

.admin .container[data-page=Orders] td.export-check {
  width: 4%;
  min-width: 40px;
}

.admin .container[data-page=Orders] td.export-check input {
  display: block;
  margin: 0 auto;
}

.admin .container[data-page=Clubs] td.product-name,
.admin .container[data-page=Clubs] td.buttons,
.admin .container[data-page=ClubEditing] td.product-name,
.admin .container[data-page=ClubEditing] td.pricegroups
.admin .container[data-page=ClubCreation] td.product-name,
.admin .container[data-page=ClubCreation] td.pricegroups {
  width: 25%;
}

.admin .container[data-page=Orders] thead tr th {
  cursor: pointer;
}

.admin .container[data-page=Orders] thead tr th span.glyphicon {
  font-size: 12px;
}

.admin .container[data-page=Orders] tr.filter-row td.club input {
  width: 11em;
}

.admin .container[data-page=Orders] tr.filter-row td.date .row {
  margin: 0 -5px 0;
}

.admin .container[data-page=Orders] tr.filter-row td.date .row div {
  padding: 0 5px;
}

.admin .container[data-page=Orders] tr.filter-row td.status input {
  width: 7em;
}

.admin .container[data-page=Orders] tr[data-export=true] td:not(.buttons) {
  color: #F44336;
}

.admin .container[data-page=Orders] td.items {
  min-width: 110px;
}

.admin .container[data-page=Orders] td.price {
  min-width: 80px;
}

.admin .container[data-page=Orders] td.product-name,
.admin .container[data-page=Orders] td.buttons {
  width: 20%;
}

.admin .container[data-page=Orders] td.buttons {
  min-width: 220px;
}

.admin .container[data-page=OrderView] td.product-name,
.admin .container[data-page=OrderView] td.buttons {
  width: 15%;
}

.admin tr.no-data td {
  text-align: center;
  padding: 20px;
}

.admin .container[data-page=ClubEditing] td.pricegroups div:not(:last-of-type),
.admin .container[data-page=ClubCreation] td.pricegroups div:not(:last-of-type) {
  margin-bottom: 5px;
}

.admin .container[data-page=ClubEditing] td.pricegroups .sizes,
.admin .container[data-page=ClubCreation] td.pricegroups .sizes {
  font-weight: bold;
}

.admin .container[data-page=ClubEditing] td.pricegroups .price,
.admin .container[data-page=ClubCreation] td.pricegroups .price {
  margin-left: 10px;
}

.admin .container[data-page=ClubEditing] td.buttons button,
.admin .container[data-page=ClubCreation] td.buttons button {
  display: block;
  margin: 3px auto;
}

.admin .container[data-page=ClubEditing] div .image-lightbox {
  /*background: initial;*/
}

.admin .container[data-page=ClubCreation] .form-group .mini-btn
.admin .container[data-page=ClubEditing] .form-group .mini-btn {
  margin-left: 5px;
  line-height: 35px;
}

.admin .container[data-page=OrderEditing] td.status {
  min-width: 120px;
}

.admin .container[data-page=Settings] .form-group {
  margin: 0;
  display: flex;
  align-items: center;
}

.admin .container[data-page=Settings] .row {
  margin-bottom: 7px;
}

.admin .container[data-page=Settings] .row:first-of-type .form-group {
  margin-top: 10px;
  margin-bottom: 0;
}

.admin .container[data-page=Settings] .row:first-of-type .checkbox {
  margin-top: 0;
}

/*.admin .container[data-page=Settings] .settings-tab[data-tab=Mailing] .row:first-of-type {
  margin-bottom: 0;
}*/

.admin .container[data-page=Settings] form[data-disabled=true] label.control-label {
  color: #bbb;
}

.admin .container p.loading-error {
  text-align: center;
  color: #777;
}

.admin .container label:not(.control-label) {
  font-weight: normal;
  cursor: auto;
}

.admin .container .checkbox label {
  cursor: default;
}

.btn-toolbar .btn {
  margin-left: 5px;
}

.modal-dialog .form-group {
  overflow: auto;
}

.modal-dialog .form-group label {
  line-height: 34px;
  margin-bottom: 0;
}

.modal-dialog .form-group .sizes-edit .btn-toolbar {
  margin: 0;
}

.modal-dialog .form-group .sizes-edit input {
  max-width: 150px;
  display: inline-block;
}

.modal-dialog .form-group .sizes-edit button {
  margin-top: -4px;
  float: none;
}

.modal-dialog .form-group .sizes-edit ul {
  padding: 4px 5px 0;
}

.modal-dialog .form-group .sizes-edit ul p {
  margin: 3px 0 0;
}

.modal-dialog .form-group .sizes-edit ul p span {
  font-size: 18px;
}

.modal-dialog .form-group .flocking-edit input {
  max-width: 175px;
}

.modal-dialog .form-group .flocking-edit label,
.modal-dialog .form-group .default-flocking-edit label {
  font-weight: normal;
  margin: 0;
}

.modal-dialog .form-group .colours-edit .row,
.modal-dialog .form-group .pricegroups-edit .row {
  margin-left: -2px;
  margin-right: 0;
}

.modal-dialog .form-group .colours-edit .row div,
.modal-dialog .form-group .pricegroups-edit .row div {
  padding: 2px;
}

.modal-dialog .form-group .colours-edit .row input,
.modal-dialog .form-group .pricegroups-edit .row input {
  max-width: none;
}

.modal-dialog .form-group .colours-edit .row input[type=file] {
  padding: 3px 0;
}

.modal-dialog .form-group .colours-edit .row .drag-handle {
  padding: 0 5px;
  cursor: -webkit-grab;
  cursor: grab;
}

.modal-dialog .form-group .checkbox label,
.modal-dialog .form-group .radio-inline {
  line-height: initial;
}

.modal-dialog .form-group .radio-inline {
  margin-left: 0;
}

.modal-dialog .form-group .radio-inline input {
  margin-top: 3px;
}

.modal-dialog form.orders-export .form-group:first-child .col-sm-8 {
  margin-top: 7px;
}

.colour-sortable-helper {
  z-index: 1051 !important;
  pointer-events: auto !important;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.modal-dialog .form-group .picture-edit .mini-btn {
  margin-left: 5px;
  line-height: 35px;
}

.modal-dialog .preview-backdrop {
  /*position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  z-index: 1050;*/
}

.upload-control {
  display: inline-block;
}

input[type=file] {
  color: transparent;
  border: none;
  box-shadow: none !important;
  padding-left: 0;
  padding-right: 0;
  width: 80px;
}

img.file-preview {
  width: 120px;
  display: block;
}
