.admin .navbar {
  margin-bottom: 30px;
}

.admin .container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.admin .container .loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(255,255,255,0.9);
}

.admin .container .loading-overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 5em;
  margin-left: -0.5em;
  margin-top: -0.5em;
  color: #555;
}

.admin .container td {
  vertical-align: middle;
}

.admin .container td button span.glyphicon {
  top: 1.3px;
}

.admin .container .page-header {
  font-size: 26px;
  margin: 0 0 25px;
  position: relative;
}

.admin .container .page-header button {
  display: block;
  float: right;
  margin-bottom: -10px;
}

.admin .container .page-header .unsaved-changes {
  float: right;
  padding-bottom: 10px;
}

.admin .container .page-header .unsaved-changes small {
  font-size: .5em;
  margin-right: 10px;
  vertical-align: middle;
}

.admin .container[data-page=OrderDisplay] .form-group:not(:first-of-type) label,
.admin .container[data-page=OrderDisplay] .form-group table {
  margin: 10px 0;
}

.admin .container .form-group label {
  margin-top: 6px;
}

.admin .container .form-group label[for=inputLogo] {
  margin-top: 16px;
}

.admin .container .form-group div {
  position: relative;
}

.admin .container .form-group input[type=file] {
  margin-top: 10px;
}

.admin .container .form-group img {
  position: absolute;
  top: 10px;
  right: 0;
}

.admin .container[data-page=ClubEditing] .form-group label[for=inputProducts],
.admin .container[data-page=ClubEditing] .form-group table {
  margin: 116px 0 10px;
}

.admin .container .form-group .col-sm-11 {
  padding: 0 60px;
}

.admin .container .flocking {
  width: 200px;
}

.admin .container .flocking .form-group {
  margin: 0;
}

.admin .container .flocking .disabled {
  color: rgba(0, 0, 0, 0.3);
}

.admin .container[data-page=Orders] td.export-check {
  width: 4%;
}

.admin .container[data-page=Orders] td.export-check input {
  display: block;
  margin: 0 auto;
}

.admin .container[data-page=Clubs] td.product-name,
.admin .container[data-page=Clubs] td.buttons,
.admin .container[data-page=ClubEditing] td.product-name,
.admin .container[data-page=ClubEditing] td.pricegroups {
  width: 25%;
}

.admin .container[data-page=Orders] td.product-name,
.admin .container[data-page=Orders] td.buttons {
  width: 20%;
}

.admin .container[data-page=OrderDisplay] td.product-name,
.admin .container[data-page=OrderDisplay] td.buttons {
  width: 15%;
}

.admin tr.no-data td {
  text-align: center;
  padding: 20px;
}

.admin .container[data-page=ClubEditing] td.pricegroups p {
  margin: 0;
}

.admin .container[data-page=ClubEditing] td.pricegroups div:not(:last-of-type) {
  margin-bottom: 5px;
}

.admin .container[data-page=ClubEditing] td.pricegroups .sizes {
  font-weight: bold;
}

.admin .container[data-page=ClubEditing] td.pricegroups .price {
  margin-left: 10px;
}

.admin .container[data-page=ClubEditing] td.buttons button {
  display: block;
  margin: 3px auto;
}

.admin .container p.loading-error {
  text-align: center;
  color: #777;
}

.admin .container label:not(.control-label) {
  font-weight: normal;
  cursor: auto;
}

.btn-toolbar .btn {
  margin-left: 5px;
}

.modal-dialog .form-group {
  overflow: auto;
}

.modal-dialog .form-group label {
  line-height: 34px;
  margin-bottom: 0;
}

.modal-dialog .form-group .sizes-edit .btn-toolbar {
  margin: 0;
}

.modal-dialog .form-group .sizes-edit input {
  max-width: 150px;
  display: inline-block;
}

.modal-dialog .form-group .sizes-edit button {
  margin-top: -4px;
  float: none;
}

.modal-dialog .form-group .sizes-edit ul {
  padding: 4px 5px 0;
}

.modal-dialog .form-group .sizes-edit ul p {
  margin: 3px 0 0;
}

.modal-dialog .form-group .sizes-edit ul p span {
  font-size: 18px;
}

.modal-dialog .form-group .flocking-edit input {
  max-width: 175px;
}

.modal-dialog .form-group .flocking-edit label {
  font-weight: normal;
  margin: 0;
}

.modal-dialog .form-group .pricegroups-edit .row {
  margin-left: -2px;
}

.modal-dialog .form-group .pricegroups-edit .row div {
  padding: 2px;
}

.modal-dialog .form-group .pricegroups-edit .row input {
  max-width: none;
}

input[type=file] {
  color: transparent;
  border: none;
  box-shadow: none !important;
  padding-left: 0;
  padding-right: 0;
  width: 80px;
}

img.file-preview {
  width: 120px;
  display: block;
}
